<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="sigma" connectionString="Server=51.255.58.1;Database=g1s2am_FarmaDAM;UserId=g1s2am_SigmaCode;Password=12345aA"/>
  </connectionStrings>
</configuration>